body {
  padding: 0;
  margin: 0;
  width: 100%; }

.btn {
  border-radius: 0; }
  .btn:focus {
    box-shadow: none; }

.bg-primary {
  background-color: #707070 !important; }

img {
  max-width: 100%;
  vertical-align: middle; }

.btn-secondary {
  margin: 0 10px 0 0; }

.container-fluid {
  padding-right: 0px;
  overflow: hidden;
  padding-left: 0px; }

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border: none; }

.main-body {
  display: flex;
  flex-flow: row; }
  .main-body .program-list {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 15%;
    position: relative;
    z-index: 2; }
  .main-body .player-window {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 70%; }
  .main-body .chanel-list-part {
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 15%;
    background-color: #424242;
    position: relative;
    z-index: 2; }

.cur-chanel {
  background-color: #F7AC53;
  width: 100%;
  height: 55px;
  padding: 10px; }
  .cur-chanel .canal {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 5px; }
  .cur-chanel .canal-name {
    font-size: 25px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

/*ScrollBar*/
/* width */
::-webkit-scrollbar {
  width: 3px; }

/* Track */
::-webkit-scrollbar-track {
  background: #F7AC53; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/*ScrollBar End*/
.width-sidenavs {
  height: 45em; }

.program-list-table {
  overflow: auto;
  width: 100%;
  padding-right: 5px; }

.active {
  color: #F7AC53; }

.passive {
  color: #BFBFBF; }

th {
  font-size: 14px; }

td {
  font-size: 12px; }

.chanel-category {
  width: 100%;
  height: 55px; }

.custom-select {
  border-radius: 0;
  border: none;
  background-color: #F7AC53;
  color: white;
  height: 55px;
  font-size: 20px; }
  .custom-select option {
    padding: 5px 0;
    font-size: 14px;
    border: none; }
    .custom-select option:focus {
      background-color: grey; }
  .custom-select:focus {
    box-shadow: none; }

.media-bar {
  background-color: #F5C58D;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  position: relative;
  z-index: 0; }

.player-holder {
  height: auto;
  padding: 30px; }

.player-container {
  height: 700px;
  overflow: hidden; }

.chanel-list {
  width: 100%;
  overflow: auto;
  margin: 0;
  cursor: pointer; }
  .chanel-list .chanel {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center; }
    .chanel-list .chanel ul {
      margin: 0;
      padding: 0; }
      .chanel-list .chanel ul li {
        padding: 5px;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center; }
        .chanel-list .chanel ul li:hover {
          background-color: #202023;
          transition: .5s; }
          .chanel-list .chanel ul li:hover .chanel-info .chanel-name {
            color: orange;
            transition: .5s; }

.chanel-image div {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 10px; }

.chanel-info {
  padding: 0 8px;
  display: flex;
  white-space: nowrap;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch; }
  .chanel-info .chanel-name {
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff9f2; }
  .chanel-info .chanel-epg {
    color: grey;
    width: 225px;
    line-height: 15px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis; }

.footer-last {
  background: url("../../img/footer-back.png");
  background-size: cover;
  height: auto; }

.footer-content {
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 15px 0; }
  .footer-content .footer-faq {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .footer-content .footer-faq img {
      width: 50px;
      height: 50px; }
  .footer-content .footer-tvbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }
    .footer-content .footer-tvbox img {
      width: 50px;
      height: 50px; }
  .footer-content p {
    margin: 0 0 0 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase; }
  .footer-content .footer-mnogouz p {
    font-size: 25px; }

/*Sign Page*/
.form-group {
  margin-bottom: .3rem; }

.sign-page-background {
  background-image: url("../../img/background-01.png");
  background-color: white;
  background-size: cover;
  width: 100%;
  height: auto; }

.sign-page-part {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  height: 575px;
  display: flex;
  justify-content: center;
  align-items: center; }

.input-part {
  text-align: center; }

/*Sign-in Page*/
.input-part {
  text-align: center; }
  .input-part p {
    font-size: 40px; }

.form-control {
  border: none;
  border-bottom: 1px solid #404952;
  border-radius: 0; }

.button-part {
  margin: 20px 0 10px 0; }
  .button-part .btn-success, .button-part .btn-info {
    margin: 10px 0 0 0;
    width: 210px; }
  .button-part .btn-success:active, .button-part .btn-info:active {
    border: none;
    box-shadow: none; }

/*Sign-in Page End*/
/*Sign-up Page*/
/*Sign-up Page End*/
/*Sign Page End*/
.profile-part {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  height: 575px;
  display: flex;
  justify-content: center;
  align-items: center; }

.tabs {
  width: 900px;
  height: 400px; }
  .tabs ul li a {
    color: #404952; }

.nav-tabs .nav-link.active {
  color: #F7AC53; }

.tab-content {
  font-size: 14px; }
  .tab-content .active {
    color: grey; }
