$nav-color:#707070;
$right-sidebar-clr:#424242;

@font-face {
  font-family: 'LuganskyV';
  src: url('../../extensions/fonts/LuganskyV.woff2') format('woff2'),
  url('../../extensions/fonts/LuganskyV.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: LuganskyV;
}

.btn{
border-radius: 0;
  &:focus{
    box-shadow: none;
  }
}

.bg-primary{
  background-color: $nav-color !important;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
.btn-nav{
  color: white;
  font-family: LuganskyV;
  background: none;
  border: none;
  padding: 1rem .75rem;
  &:hover{
    background: rgba(0, 0, 0, 0.09);
    color: #F7AC53;
  }
}
.navbar{
  padding: 0 16px 0 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.container-fluid{
  padding-right: 0px;
  overflow: hidden;
  padding-left: 0px;
  height: 100%;
}
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, .5);
  border:none;
}

.main-body{
  display: flex;
  flex-flow: row ;
  font-family: LuganskyV;

  .program-list{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 15%;
    position: relative;
    z-index: 2;
  }
  .player-window{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 70%;

  }
  .chanel-list-part{
    display: flex;
    flex-flow: column nowrap;
    flex: 0 1 15%;
    background-color: $right-sidebar-clr;
    position: relative;
    z-index: 2;
  }
}



.cur-chanel{
  background-color: #F7AC53;
  width: 100%;
  height: 55px;
  display: flex;
  flex-flow: row nowrap;
  .canal-name-part{
    margin-right: 10px;
  }
  .canal-now-part{
    background: #f49a33;
    overflow: hidden;
    width: 100%;}
}
.canal{
  text-transform: uppercase;
  font-size: 10px;
  line-height: 5px;
  padding: 10px 10px 0 10px;

}
.canal-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 25px;
  line-height: 35px;
  padding-left: 10px;
}
/*ScrollBar*/
/* width */
::-webkit-scrollbar {
  width: 3px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #F7AC53;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*ScrollBar End*/


.width-sidenavs{
  height: 34rem;
}

.program-list-table{
  overflow: auto;
  width: 100%;
  padding-right: 5px;
}
.active{
  color: #F7AC53;
}
.passive{
  color: #BFBFBF;
}
th{
  font-size: 14px;
}
td{
  font-size: 12px;
}


.chanel-category{
  width: 100%;
  height: 55px;

}
.custom-select {
  border-radius: 0;
  border: none;
  background-color: #F7AC53;
  color: white;
  height: 55px;
  font-size: 20px;
  option {
    padding: 5px 0;
    font-size: 14px;
    border: none;

    background-color: grey;
    &:hover {
      background: #fff;

      &:focus {
        background-color: grey;

      }
    }
    &:focus {
      box-shadow: none;
    }
  }
}

.media-bar{
  background-color: #F5C58D;
  width: 100%;
  height: 60px;
  margin: 20px 0;
  position: relative;
  z-index: 0;
}
.player-holder{
  height: auto;
  padding: 10px;
}
.player-container{
  height: 570px;
  padding: 30px;
}


.chanel-list{
  width: 100%;
  overflow: auto;
  margin: 0;
  cursor: pointer;

  .chanel{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;

    ul{
      margin: 0;
      padding: 0;
      li{
        padding: 5px;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-content: center;
        align-items: center;
        overflow: hidden;
        &:hover{
          background-color: #202023;
          transition: .5s;
          .chanel-info{
            .chanel-name{
              color: orange;
              transition: .5s;

            }
          }
        }
      }



    }
  }
}
.chanel-image{
  div{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }

}

.chanel-info{
  padding: 0 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
  overflow: hidden;

  .chanel-name{
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff9f2;
  }
  .chanel-epg{
    color: grey;
    line-height: 15px;
    font-size: 13px;
    p{
      text-overflow: ellipsis;
      overflow: hidden;

    }
  }
}


.footer-last-other{
  background: #484848;
  background-size: cover;
  height: auto;
}
.footer-last{
  background: url("../../img/footer-back.png");
  background-size: cover;
  height: auto;
}

.footer-content{
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
  .footer-logo{
    a{
      img{
        width: 70%;
      }
    }
  }
  .footer-faq{

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
    }
  }
  .footer-tvbox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img{
      width: 30px;
      height: 30px;
    }
  }
  p{
    margin: 0 0 0 10px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }
  .footer-mnogouz{
    p{
      font-size: 20px;
    }
  }

}



.container-fluid{
  height: 100%;
}

/*Sign Page*/
.form-group{
  margin-bottom: .3rem;
}
.sign-page-background{
  background-image: url("../../img/background-01.png");
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sign-page-part{
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.input-part{
text-align: center;
}

/*Sign-in Page*/
.input-part{
  p{
    font-size: 40px;
  }
  text-align: center;
}
.form-control{
  border: none;
  border-bottom: 1px solid #404952;
  border-radius: 0;
}

.button-part{
  margin: 20px 0 10px 0;
  .btn-success, .btn-info {
    margin: 10px 0 0 0;
    width: 225px;
  }
  .btn-success:active, .btn-info:active{
    border: none;
    box-shadow: none;
  }
}
/*Sign-in Page End*/



/*Sign-up Page*/

/*Sign-up Page End*/

/*Sign Page End*/

.profile-part{
  background: white;
  max-width: 1000px;
  margin: 0 auto;

  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.title{
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.tabs{
  width: 900px;
  height: 400px;
  ul{
    li{
      a{
        color: #404952;

      }

    }
  }
}
.nav-tabs .nav-link.active{
  color: #F7AC53;
}
.tab-content{
  font-size: 14px;
  .active{
    color: grey;
  }
}


